.container{
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 10vh 50vh 40vh;
    grid-template-areas:  "task filt"
                         "to-do  filt"
                         "done stat";
}

.to-do{
    grid-area: to-do;
}

.done{
    grid-area: done;
}

.task{
    grid-area: task;
}

.stat{
    grid-area: stat;
}

.filter{
    grid-area: filt;
}

.example-sidenav {
    padding: 20px;
}

.supercomponent {
    flex: 1;
  }

@media (max-width: 600px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 10vh 30vh 50vh 40vh 20vh;
        grid-template-areas:"task "
                            "filt"
                            "to-do"
                            "done "
                            "stat";
    }
  }